APP_ENV=development
POSTGRES_DB=moviemind
POSTGRES_USER=moviemind
POSTGRES_PASSWORD=moviemind
DATABASE_URL=postgresql+psycopg://moviemind:moviemind@db:5432/moviemind

TMDB_API_KEY=your_tmdb_api_key
TMDB_BASE_URL=hsttps://api.themoviedb.org/3